html {
    background-color: #222222;
    height: 100%;
}

body {
    background-color: #ECF0F1;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0 auto;
    max-width: 400px;
}